.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#creds{
    padding-top: 10%;
}

#butts{
    padding-left: 8.5%;
    padding-top: 6%;
    padding-right: 8.5%;
}
#first{
    padding-right: 5%;
}

#title{
    color: yellow;
    padding-left: 10%;
    padding-right: 10%;
}
ion-title{
    text-align: center;
}