#creds{
    padding-top: 10%;
}

#butts{
    padding-left: 22%;
    padding-top: 6%;
}
#first{
    padding-right: 5%;
}

#title{
    color: yellow;
    text-align: center;
}
ion-title{
    text-align: center;
}
