#creds{
    padding-top: 10%;
}

#butts{
    padding-top: 6%;
    padding-left: 35%;
    padding-right: 35%;
}
#first{
    padding-left: 35%;
    padding-right: 35%;
    
}
#second{
    padding-left: 20%;
    padding-right: 20%;
}

#title{
    color: yellow;
    text-align: center;
}
#home{
    color: #ffde59;
}
ion-title{
    text-align: center;
}
ion-button{
    --color-activated: pink;
}
ion-card{
    padding-top: 30px;
}
ion-header{
    padding-bottom: 30px;
}

