<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-button (click)="home()"><ion-icon name="home" slot="start"></ion-icon>Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/GitFit.png">
    <div>
      <ion-card-title id='title'>Sign in to GitFit!</ion-card-title>
      <ion-card-content>
        <div id= "creds">
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input placeholder="Enter Email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" placeholder='Enter Password' [(ngModel)]="user.password"></ion-input>
          </ion-item>
        </div>
    
        <div>
          <ion-button id='first' class="align-center" (click)="login()">
            SIGN IN
          </ion-button>
          <br>
          <ion-button id='second' color="secondary"(click)="forgot()">
            FORGOT PASSWORD
          </ion-button>
        </div>
      </ion-card-content>
      
      
    </div>

 </ion-card>
    
  

</ion-content>
