#creds{
    padding-top: 10%;
}

#butts{
    padding-left: 8.5%;
    padding-top: 6%;
    padding-right: 8.5%;
}
#first{
    padding-right: 5%;
}

#title{
    color: yellow;
    padding-left: 10%;
    padding-right: 10%;
}
ion-title{
    text-align: center;
}