<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button *ngIf="show" (click)="ngOnInit()">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  <div  *ngIf="!reveal">
  <div class="card">
    
  </div>
  <div class="card-body">
    <div *ngFor="let item of users" class="user-meta ion-text-center">
      <ion-item *ngIf="this.userService.getUID() == item.id">
        <ion-label *ngIf="this.userService.getUID() == item.id">Name: {{item.name}} </ion-label>
      </ion-item>
      
      <ion-item *ngIf="this.userService.getUID() == item.id">
        <ion-label *ngIf="this.userService.getUID() == item.id">Gender: {{item.gender}}</ion-label>
      </ion-item>
      <ion-item *ngIf="this.userService.getUID() == item.id">
        <ion-label *ngIf="this.userService.getUID() == item.id">Experience Level: {{item.exp}}</ion-label>
      </ion-item>
     
      
      
      
    </div>
    <ion-button shape="round" (click)="faveButton()" expand="full">
      <ion-icon slot="start" name="star"></ion-icon>
      Show Favorites
    </ion-button>
      
  
    
  </div>
</div>
  <!--when they click the "show favorites" button, it loops through their favorites collection and displays cards-->
  <div *ngIf="show">
  <ion-card  *ngFor="let item of favorites">
    <span>
      <ion-card>
        <img src={{item.Image}} alt="Picture not available"/>
        <ion-card>
          <h3 id="woDescript">{{item.Descript}}</h3>
          <div class="btn">
            <ion-button class="round ion-text-center" (click)="deleteButton(item)">
              <ion-icon name='trash' slot="start"></ion-icon>
              Remove
            </ion-button>
          </div>
          
        </ion-card>
        
        <ion-card-header>
          <ion-card-title id="workoutName">{{item.Name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </span>
  </ion-card>
  </div>
</ion-content>