ion-content ion-toolbar {
  --background: translucent;
}
ion-content {
  --background: url(/assets/avatar.jpg) no-repeat top center/cover fixed, #fff;
  position: relative;
  height: 100%;
  width: 100%;
}

ion-toolbar {
  --background: transparent;
}
ion-item{
  text-align: center;
}
.card {
  margin: 0 auto;
  --background: transparent;
  height: 270px;
  --border: transparent;
  margin-bottom: 30%;

  .header {
      height: 200px;

      .avatar {
          width: 160px;
          height: 150px;
          position: relative;
          margin: 0 auto;

          img {
              display: block;
              border-radius: 50%;
              position: absolute;
              top: 20px;
              bottom: 20px;
              border: 8px solid black;
              background-color: #fff;
          }
      }
  }
}
.card-body {
  background-color: gray;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;

  .user-meta {
      

      .username {
          font-size: 24px;
          font-weight: 600;
          color: black;
      }

  }
}
.btn{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}