<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <ion-searchbar id="input"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card id="militaryPress" class="weights" (click)="expandItem()">
    <img src="/assets/exercise1.jpg" alt="Picture not available"/>
   
    <ion-card *ngIf="item">
      <iframe src="https://www.youtube.com/embed/DHMqRnzEwGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>This exercise works the shoulders and arms</h3>
    </ion-card>
    
    <ion-card-header>
      <ion-card-title>Military Press</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card id="abCrunch" class="abs">
    <img src="/assets/exercise2.jpg" alt="Picture not available"/>
    <ion-card *ngIf="item">
      <h3>This exercise works the abs</h3>
    </ion-card>
    <ion-card-header>
      <ion-card-title>Ab Crunch</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card id="sideStretch" class="stretch">
    <img src="/assets/exercise3.jpg" alt="Picture not available"/>
    <ion-card-header>
      <ion-card-title>Side Stretch</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
