<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <ion-searchbar placeholder="Search Workouts" id="search" (keyup.enter)="search()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of workouts">
    <span>
      <ion-card>
        <img src="/assets/exercise1.jpg" alt="Picture not available"/>
        <ion-card>
          <h3>{{item.Description}}</h3>
          <div class="btn">
            <ion-button (click)="favoriteAlert()">
              <ion-icon name='star' slot="start"></ion-icon>
              Favorite
            </ion-button>
          </div>
          
        </ion-card>
        
        <ion-card-header>
          <ion-card-title>{{item.Name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </span>
  </ion-card>
    
 
</ion-content>
