<ion-header>
  <ion-toolbar>
    <ion-button (click)="logout()">Log Out<ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  
    <ion-item>
      <ion-label color="white" slot="start">Push Notifications</ion-label>
      <ion-toggle slot="end" name="pushnotifs" checked></ion-toggle>
    </ion-item>
    
    <ion-item>
      <ion-label color="white" slot="start">Recommendations</ion-label>
      <ion-toggle slot="end" name="recommendations" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="white" slot="start">Change Picture</ion-label>
      <ion-button (click)="photoAlert()">Upload Photo</ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="white" slot="start">Edit Profile</ion-label>
      <ion-button (click)="editProfile()">Edit Profile</ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="white" slot="start">About</ion-label>
      <ion-button (click)="aboutAlert()">See About information</ion-button>
    </ion-item>
    

    

  
   
  </ion-list>
  

  
</ion-content>
