<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  
    <ion-item>
      <!-- <ion-label color="white" (click)="editProfile()">Edit Profile</ion-label> -->
      <ion-label size='large' (click)="editEmail()"><h1>Change Email</h1>  </ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-label color="white" (click)="editProfile()">Edit Profile</ion-label> -->
      <ion-label size='large' (click)="editName()"><h1>Edit Name</h1> </ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-label color="white" s (click)="aboutAlert()">See About information</ion-label> -->
      <ion-label size='large' (click)="aboutAlert()"><h1>About</h1></ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-label color="white" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon> Log Out</ion-label> -->
      <ion-label size='large' (click)="logout()"><h1><ion-icon name="log-out-outline"></ion-icon>  Sign Out</h1></ion-label>
    </ion-item>
   
  </ion-list>
  <br>
  <br>
  <form *ngIf="isAdmin()">
    <ion-list>
      <ion-item >
        <ion-label position="stacked" color="white" slot="start">Workout Name</ion-label>
        <ion-input id='woName'></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" color="white" slot="start">Workout Description</ion-label>
        <ion-input id='woDescr'></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" color="white" slot="start">Workout Image Link</ion-label>
        <ion-input id='woImage'></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="addWork()">Submit</ion-button>
  </form>
  <form *ngIf="isAdmin()">
    <ion-label>Edit Workout</ion-label>
    <ion-list>
      <ion-item >
        <ion-label position="stacked" color="white" slot="start">Workout to Edit</ion-label>
        <ion-input id='edName'></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" color="white" slot="start">New Description</ion-label>
        <ion-input id='edDescr'></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" color="white" slot="start">New Image Link</ion-label>
        <ion-input id='edImage'></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="editWork()">Submit</ion-button>
  </form>
  
  

  <h4>Privacy Policy</h4>
  <h4>Terms of Use</h4>

</ion-content>
