<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 id ='title'>Make a GitFit Account!</h1>
  <div id= "creds">
    <ion-item>
      <ion-label stacked>Full Name</ion-label>
      <ion-input placeholder="John Smith" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input placeholder="Enter Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" placeholder='Enter Password' [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </div>
 
  <div id='butts'>
    <ion-button id='first' ion-button (click)="back()">
      Back
    </ion-button>
    <ion-button ion-button color="secondary"  (click)="signUp()">
      SIGN UP
    </ion-button>
    

  </div>
</ion-content>