#creds{
    padding-top: 10%;
}

#butts{
    padding-left: 35%;
    padding-right: 30%;
    padding-top: 6%;
}


#title{
    color: yellow;
    text-align: center;
}
ion-title{
    text-align: center;
}
div{
    margin: auto;
}